@import url("https://fonts.googleapis.com/css?family=Signika:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Condensed:700&display=swap");
/* General -----------------------------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Signika", sans-serif;
  font-size: 1rem;
  color: #f0f0f0;
}

a {
  text-decoration: none;
}

.rowed {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.columnated {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pseudoImg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
}

/* Color Universals --------------------------------------------------------------------------------*/
/* Spaces */
.darkGreySpace {
  color: #f0f0f0;
  background-color: #303030;
}

.pinkSpace {
  color: #303030;
  background-color: #f768d7;
}

.whiteSpace {
  color: #303030;
  background-color: #f0f0f0;
}

/* Texts */
.darkGreyText {
  color: #303030;
}

.pinkText {
  color: #f768d7;
}

.whiteText {
  color: #f0f0f0;
}

.pinkHighlight {
  background-color: #f768d7;
}

/* Selections */
*::selection {
  color: #303030;
  background-color: #f768d7;
}

.pinkSpace *::selection, .pinkSpace::selection, .pinkHighlight::selection {
  color: #f768d7;
  background-color: #303030;
}

.darkGreyText::selection, .pinkText::selection {
  color: #f0f0f0;
}

/* Link Defaults */
.darkGreySpace a, .darkGreySpace a:link, .darkGreySpace a:hover, .darkGreySpace a:active, .darkGreySpace a:visited, .whiteSpace a, .whiteSpace a:link, .whiteSpace a:hover, .whiteSpace a:active, .whiteSpace a:visited {
  color: #f768d7;
}

.pinkSpace a, .pinkSpace a:link, .pinkSpace a:hover, .pinkSpace a:active, .pinkSpace a:visited {
  color: #f0f0f0;
}

/* Logo --------------------------------------------------------------------------------------------*/
.logoDuckie {
  background-image: url("lined_duck.png");
}

/* Vanilla Title */
.logoText {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.logoText span {
  margin: 0;
  padding: 0;
}
.logoText span:first-child {
  color: #f768d7;
}

.darkGreySpace .logoText span:first-child, .container .darkGreySpace .logoText span:first-child, .whiteSpace .logoText span:first-child, .container .whiteSpace .logoText span:first-child {
  color: #f768d7;
}

.darkGreySpace span:first-child::selection, .container .darkGreySpace span:first-child::selection {
  color: #303030;
}

.whiteSpace span:first-child::selection, .container .whiteSpace span:first-child::selection {
  color: #f0f0f0;
}

.pinkSpace .logoText span:first-child, .container .pinkSpace .logoText span:first-child {
  color: #f0f0f0;
}

.pinkSpace span:first-child::selection, .container .pinkSpace span:first-child::selection {
  color: #f0f0f0;
}

/* Scrolling Header ----------------------------------------------------------------------------------*/
#scrollingHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navBar {
  display: block;
  position: relative;
  height: 3.5rem;
  background-color: #303030;
  border-top: 0.2rem solid;
  border-color: #f768d7;
}

#navButton {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 3.5rem;
  color: #f768d7;
  text-decoration: none;
}

#navAway {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 150vh;
  top: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.25s;
  z-index: 2;
}

#navMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 3.5rem;
  top: 0;
  font-size: 1.25rem;
  transition-property: margin-left, visibility;
  transition-duration: 0.25s;
  z-index: 3;
}
#navMenu .logoText {
  font-size: 1.1em;
}
#navMenu #navHome:hover .logoText span:first-child, #navMenu #navHome:active .logoText span:first-child, #navMenu .logoText span:first-child::selection {
  color: #f0f0f0;
}
#navMenu #orgLink .pseudoImg {
  background-image: url("pixel_quack.png");
  width: 2.1em;
  height: 1.5em;
}
#navMenu a {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
}
#navMenu a:link, #navMenu a:visited {
  color: #f0f0f0;
}
#navMenu a:hover, #navMenu a:active, #navMenu #orgLink:link, #navMenu #orgLink:visited {
  color: #303030;
  background-color: #f768d7;
}

#covid19Update {
  position: relative;
  align-items: stretch;
  background-color: #ff4a4a;
}
#covid19Update #c19UState {
  display: none;
}
#covid19Update #c19UText {
  padding: 0.75em;
}
#covid19Update #c19UDismissal {
  display: flex;
  align-items: center;
  padding: 0 1em;
}
#covid19Update #c19UDismissal:hover {
  background-color: #c73a3a;
}
#covid19Update #c19UState:checked ~ #c19UText {
  display: none;
}
#covid19Update #c19UState:checked ~ #c19UDismissal {
  display: none;
}

#covid19Update::selection, #covid19Update *::selection {
  color: #ff4a4a;
  background-color: #f0f0f0;
}

/* Front Page & Graphic -----------------------------------------------------------------------------*/
#frontPage {
  width: 100%;
  height: 100vh;
}

#navSpace {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 3.7rem;
}

#graphic {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  background-image: url("view_m.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
}
#graphic .spacer {
  height: 1em;
}
#graphic * {
  flex-grow: 0;
}
#graphic .logoDuckie {
  width: 260px;
  height: 200px;
  max-width: 40vh;
  max-height: 40vh;
}
#graphic #bigLogoText {
  max-width: 100%;
  font-size: 400%;
  text-align: center;
}
#graphic #bigLogoText span:first-child {
  color: #303030;
}
#graphic #bigLogoText span:first-child::selection {
  color: #f0f0f0;
}
#graphic #bigLogoText span:last-child {
  color: #f0f0f0;
}
#graphic #bigLogoText span:last-child::selection {
  color: #303030;
}
#graphic .logoSubTitle {
  margin: 0.5rem 0;
  padding: 0.5rem 3rem;
  text-align: center;
  font-size: 120%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  border-radius: 5px;
}
#graphic .bigButton:link, #graphic .bigButton:visited, #graphic .bigButton:hover, #graphic .bigButton:active {
  color: #303030;
  background-color: #f768d7;
  text-decoration: none;
}
#graphic .bigButton div {
  width: 40vw;
  max-width: 500px;
  padding: 0.5em 0;
  font-size: 100%;
  text-align: center;
}

/* Jumpable ----------------------------------------------------------------------------------------*/
#main .section {
  position: relative;
}

.jumpable {
  position: absolute;
  top: -3.7rem;
}

/* Content -----------------------------------------------------------------------------------------*/
#main {
  width: 100%;
  overflow: hidden;
}
#main h1 {
  margin: 0.2em 0 0.05em 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
}
#main h2 {
  margin: 0.75em 0 0.05em 0;
  padding: 0;
  font-size: 1.25em;
}
#main p {
  margin: 0.2em 0;
  padding: 0;
}
#main .section {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5em 0;
}
#main .section .container {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  padding: 0.4em 1em;
}
#main .spacer {
  width: 100%;
  height: 2em;
}
#main .spacer .slantedDown {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(-5% -5%, 105% 105%, 105% -5%);
  -webkit-clip-path: polygon(-5% -5%, 105% 105%, 105% -5%);
}
#main .spacer .slantedUp {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  clip-path: polygon(-5% -5%, 105% 105%, -5% 105%);
  -webkit-clip-path: polygon(-5% -5%, 105% 105%, -5% 105%);
}

/* Schedule ----------------------------------------------------------------------------------------*/
#schedContainer {
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  width: 100%;
  height: 75vh;
  background-color: #f768d7;
  border-radius: 5px;
}
#schedContainer #schedCornerHider {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
#schedContainer #schedCornerHider #schedArea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#schedContainer #schedCornerHider #schedArea .schedItems {
  list-style-position: inside;
  list-style-type: none;
  margin: 1rem 0;
  padding: 0 3rem;
  width: 100%;
  border-spacing: 0;
}
#schedContainer #schedCornerHider #schedArea .schedItems td {
  padding: 0.75rem;
  border-bottom: 1px solid #c9c9c9;
}
#schedContainer #schedCornerHider #schedArea .schedItems tr:nth-child(5) td, #schedContainer #schedCornerHider #schedArea .schedItems tr:nth-child(16) td, #schedContainer #schedCornerHider #schedArea .schedItems tr:last-child td {
  border-bottom: none;
}
#schedContainer #schedCornerHider #schedArea .schedItems .schedHeaderContainer {
  padding: 0.5em 0;
  border-bottom: none;
}
#schedContainer #schedCornerHider #schedArea .schedItems .schedHeaderContainer .schedHeader {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
#schedContainer #schedCornerHider #schedArea .schedItems .schedHeaderContainer .schedHeader .schedHeaderLine {
  flex-grow: 1;
  border-top: 3px solid #303030;
}
#schedContainer #schedCornerHider #schedArea .schedItems .schedHeaderContainer .schedHeader h2 {
  margin: 0;
  padding: 0 1rem;
}

/* Event Section -------------------------------------------------------------------------------------*/
#eventList .eventTitle {
  padding-top: 0.25em;
}
#eventList .eventDeets {
  text-indent: 1em;
}

/* FAQ Section ---------------------------------------------------------------------------------------*/
#main .faqList {
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#main .faqList .faqColumn {
  width: 40%;
  margin: 0 0.5em;
}

#main .faQuestion {
  box-sizing: border-box;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  border: 0.2rem solid #f0f0f0;
  border-radius: 5px;
}
#main .faQuestion input {
  display: none;
}
#main .faQuestion .faqHeader {
  padding: 0.5em;
}
#main .faQuestion .faqArrow {
  display: flex;
  justify-content: center;
  color: #f768d7;
  background-color: #f0f0f0;
}
#main .faQuestion .faqArrow * {
  transition-property: transform, color;
  transition-duration: 0.25s;
}
#main .faQuestion .faqContent {
  overflow: hidden;
  max-height: 0;
  transition-property: max-height;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
#main .faQuestion .faqContent p {
  display: block;
  padding: 0.5em;
}
#main .faQuestion .faqContent a, #main .faQuestion .faqContent a:link, #main .faQuestion .faqContent a:visited, #main .faQuestion .faqContent a:hover, #main .faQuestion .faqContent a:active {
  color: #f768d7;
}
#main .faQuestion input:checked + .faqArrow * {
  color: #303030;
  transform: rotate(180deg);
}
#main .faQuestion input:checked + .faqArrow + .faqContent {
  max-height: 50rem;
}

#main .faQuestion:hover {
  cursor: pointer;
}
#main .faQuestion:hover .faqArrow * {
  color: #303030;
}

/* Get Involved Section ------------------------------------------------------------------------------*/
#graphic .actionButton, .container .actionButton {
  max-width: 60%;
  margin: 1em auto 0.5em auto;
  border-radius: 5px;
  color: #303030;
  background-color: #f0f0f0;
}
#graphic .actionButton div, .container .actionButton div {
  width: 40vw;
  max-width: 100%;
  padding: 0.5rem 0;
  font-size: 1.15rem;
  text-align: center;
}
#graphic .actionButton:link, #graphic .actionButton:visited, .container .actionButton:link, .container .actionButton:visited {
  color: #303030;
  background-color: #f0f0f0;
}
#graphic .actionButton:hover, #graphic .actionButton:active, .container .actionButton:hover, .container .actionButton:active {
  color: #f0f0f0;
  background-color: #303030;
}
#graphic .smolButton div, .container .smolButton div {
  width: 20vw;
  max-width: 90%;
  padding: 0.75rem;
  font-size: 1.5rem;
}

#graphic .actionButton {
  margin-top: auto;
}

#main .involvementSpace {
  /* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
}
#main .involvementSpace #mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
#main .involvementSpace #mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px 0 10px 3%;
}
#main .involvementSpace #mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}
#main .involvementSpace #mc_embed_signup input {
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#main .involvementSpace #mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}
#main .involvementSpace #mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}
#main .involvementSpace #mc_embed_signup input:focus {
  border-color: #333;
}
#main .involvementSpace #mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}
#main .involvementSpace #mc_embed_signup .button:hover {
  background-color: #777;
}
#main .involvementSpace #mc_embed_signup .small-meta {
  font-size: 11px;
}
#main .involvementSpace #mc_embed_signup .nowrap {
  white-space: nowrap;
}
#main .involvementSpace #mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  padding-bottom: 3%;
  min-height: 50px;
}
#main .involvementSpace #mc_embed_signup .size1of2 {
  clear: none;
  float: left;
  display: inline-block;
  width: 46%;
  margin-right: 4%;
}
#main .involvementSpace * html #mc_embed_signup .size1of2 {
  margin-right: 2%;
  /* Fix for IE6 double margins. */
}
#main .involvementSpace #mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px;
}
#main .involvementSpace #mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}
#main .involvementSpace #mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px;
}
#main .involvementSpace #mc_embed_signup .datefield, #main .involvementSpace #mc_embed_signup .phonefield-us {
  padding: 5px 0;
}
#main .involvementSpace #mc_embed_signup .datefield input, #main .involvementSpace #mc_embed_signup .phonefield-us input {
  display: inline;
  width: 60px;
  margin: 0 2px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 0 2px 0;
}
#main .involvementSpace #mc_embed_signup .phonefield-us .phonearea input, #main .involvementSpace #mc_embed_signup .phonefield-us .phonedetail1 input {
  width: 40px;
}
#main .involvementSpace #mc_embed_signup .datefield .monthfield input, #main .involvementSpace #mc_embed_signup .datefield .dayfield input {
  width: 30px;
}
#main .involvementSpace #mc_embed_signup .datefield label, #main .involvementSpace #mc_embed_signup .phonefield-us label {
  display: none;
}
#main .involvementSpace #mc_embed_signup .indicates-required {
  text-align: right;
  font-size: 11px;
  margin-right: 4%;
}
#main .involvementSpace #mc_embed_signup .asterisk {
  color: #e85c41;
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: 5px;
}
#main .involvementSpace #mc_embed_signup .clear {
  clear: both;
}
#main .involvementSpace #mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
#main .involvementSpace #mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0;
}
#main .involvementSpace #mc_embed_signup .mc-field-group.input-group label {
  display: inline;
}
#main .involvementSpace #mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  width: auto;
  border: none;
}
#main .involvementSpace #mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
#main .involvementSpace #mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
#main .involvementSpace #mc_embed_signup #mce-error-response {
  display: none;
}
#main .involvementSpace #mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#main .involvementSpace #mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}
#main .involvementSpace #mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
}
#main .involvementSpace #mc_embed_signup #num-subscribers {
  font-size: 1.1em;
}
#main .involvementSpace #mc_embed_signup #num-subscribers span {
  padding: 0.5em;
  border: 1px solid #ccc;
  margin-right: 0.5em;
  font-weight: bold;
}
#main .involvementSpace #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: inline-block;
  margin: 2px 0 1em 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41;
}
#main .involvementSpace #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41;
}

#main .involvementSpace #mc_embed_signup {
  color: #303030;
  background-color: #f0f0f0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#main .involvementSpace #mc_embed_signup ::selection {
  color: #303030;
  background-color: #f768d7;
}
#main .involvementSpace #mc_embed_signup input {
  background-color: #f0f0f0;
}
#main .involvementSpace #mc_embed_signup .button, #main .involvementSpace #mc_embed_signup .button:hover {
  background-color: #f768d7;
}

/* Sponsors ------------------------------------------------------------------------------------------*/
.sponsorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
.sponsorList li {
  display: block;
  width: auto;
}
.sponsorList li a {
  display: block;
  box-sizing: border-box;
  padding: 4vh;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.sponsorList li a img {
  width: auto;
  height: 100%;
}

.sponsorList#bigSponsorList li.square {
  height: 32vh;
}

.sponsorList#bigSponsorList li.flat {
  height: 20vh;
}

.sponsorList#medSponsorList li.square {
  height: 27vh;
}

.sponsorList#medSponsorList li.flat {
  height: 17vh;
}

.sponsorList#smallSponsorList li.square {
  height: 22vh;
}

.sponsorList#smallSponsorList li.flat {
  height: 14vh;
}

/* Contact List --------------------------------------------------------------------------------------*/
#main .section.contactSpace, #main .section.contactSpace .container {
  padding: 0;
}

#contactLabel {
  padding: 0.5em 0;
  text-align: center;
}

#contactList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contactList a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  width: 2.5em;
  height: 2.5em;
}
#contactList a:link, #contactList a:visited {
  color: #f0f0f0;
}
#contactList a:hover, #contactList a:active {
  color: #303030;
  background-color: #f768d7;
}

/* Responsive Design! ------------------------------------------------------------------------------------*/
/* Big Screens */
@media only screen and (min-width: 3000px) {
  #graphic {
    background-image: url("view_l.png");
  }
}
/* Small or Tall Screens */
@media only screen and (max-width: 1000px), only screen and (max-aspect-ratio: 1/1) {
  /* Only display button now */
  #navButton {
    display: flex;
  }

  /* Nav Away, for closing Nav Menu */
  #navBar {
    /* Modified Vertical Nav Menu */
  }
  #navBar #navAway {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #navBar #navMenu {
    visibility: hidden;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -70vw;
    width: 70vw;
    height: 150vh;
    background-color: #f0f0f0;
  }

  #navBar:target #navAway {
    visibility: visible;
    opacity: 1;
  }
  #navBar:target #navMenu {
    visibility: visible;
    margin-left: 0;
  }

  /* Link Stylization */
  #navMenu a {
    padding: 0.4em 0.8em;
  }
  #navMenu a:link, #navMenu a:visited {
    color: #303030;
  }
  #navMenu a:hover, #navMenu a:active {
    color: #303030;
    background-color: #f768d7;
  }

  /* Graphic Duckie Resize */
  #graphic .logoDuckie {
    max-width: 80vh;
    max-height: 80vh;
  }
  #graphic div {
    font-size: 2.5rem;
  }
  #graphic .smolButton div {
    width: 50vw;
  }

  /* Main Content Width Changes */
  #main .section .container {
    padding: 0.3em 2em;
    width: 100%;
  }

  #main .faqList .faqColumn {
    width: 80%;
  }
}
/* Tall Screens */
@media only screen and (max-aspect-ratio: 1/1) {
  #navBar {
    height: 4rem;
  }

  .jumpable {
    top: -4.2rem;
  }

  #navButton {
    width: 4rem;
  }

  #navSpace {
    height: 4.2rem;
  }
}
/* Medium Screens --------------------------------------------------------------------------------*/
@media only screen and (max-width: 650px) {
  /* Schedule Abbreviation */
  #schedContainer #schedCornerHider #schedArea .schedItems {
    padding: 0 1.5rem;
  }
  #schedContainer #schedCornerHider #schedArea .schedItems td:nth-child(3) {
    display: none;
  }
}
/* Medium or Tall Screens --------------------------------------------------------------------------*/
@media only screen and (max-width: 650px), only screen and (max-aspect-ratio: 1/1) {
  /* Sponsorship Display Changes */
  .sponsorList {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .sponsorList li a {
    padding: 3vh;
  }

  .sponsorList#bigSponsorList li.square {
    height: 30vh;
  }

  .sponsorList#bigSponsorList li.flat {
    height: 16vh;
  }

  .sponsorList#medSponsorList li.square {
    height: 28vh;
  }

  .sponsorList#medSponsorList li.flat {
    height: 14vh;
  }

  .sponsorList#smallSponsorList li.square {
    height: 26vh;
  }

  .sponsorList#smallSponsorList li.flat {
    height: 13vh;
  }
}
/* Super Tiny Screens ------------------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
  #graphic {
    background-image: url("view_s.png");
  }

  #main .section .container {
    padding: 0.3em 1em;
  }
}
/* Super Super Tiny Screens -------------------------------------------------------------------------*/
@media only screen and (max-width: 350px) {
  #schedContainer #schedCornerHider #schedArea .schedItems td:nth-child(4) {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
